{"openapi":"3.0.0","x-mcp":{"enabled":true},"info":{"title":"ShipBob Developer API (2026-01)","version":"2026-01"},"servers":[{"url":"https://api.shipbob.com"},{"url":"https://sandbox-api.shipbob.com"}],"paths":{"/2026-01/inventory-level":{"get":{"summary":"Get All Inventory Levels","description":"Retrieves current inventory levels across all locations. Returns available, on-hand, committed, and other quantity types. Supports filtering by inventory IDs and product attributes.","parameters":[{"name":"SearchBy","in":"query","description":"","schema":{"type":"string","additionalProperties":false}},{"name":"InventoryIds","in":"query","description":"","schema":{"type":"string","additionalProperties":false,"items":{"type":"integer","format":"int32","additionalProperties":false}}},{"name":"IsActive","in":"query","description":"","schema":{"type":"boolean","additionalProperties":false}},{"name":"IsDigital","in":"query","description":"","schema":{"type":"boolean","additionalProperties":false}},{"name":"PageSize","in":"query","description":"","schema":{"type":"string","format":"int32","additionalProperties":false}},{"name":"SortBy","in":"query","description":"","schema":{"type":"string","additionalProperties":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.InventoryQuantityResponsePagedResponse"},"example":{"first":"string","items":[{"inventory_id":0,"name":"string","sku":"string","total_awaiting_quantity":0,"total_backordered_quantity":0,"total_committed_quantity":0,"total_exception_quantity":0,"total_fulfillable_quantity":0,"total_internal_transfer_quantity":0,"total_on_hand_quantity":0,"total_sellable_quantity":0}],"last":"string","next":"string","prev":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"500":{"description":"Internal Server Error"},"503":{"description":"Service Unavailable"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Inventory"]}},"/2026-01/inventory-level/{inventoryId}":{"get":{"summary":"Get Inventory Levels","description":"Retrieves the aggregated inventory levels for a specific inventory item across all locations, including available, on-hand, committed, and other quantity types.","parameters":[{"name":"inventoryId","in":"path","required":true,"description":"","schema":{"type":"string","format":"int32","additionalProperties":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.InventoryQuantityResponse"},"example":{"inventory_id":0,"name":"string","sku":"string","total_awaiting_quantity":0,"total_backordered_quantity":0,"total_committed_quantity":0,"total_exception_quantity":0,"total_fulfillable_quantity":0,"total_internal_transfer_quantity":0,"total_on_hand_quantity":0,"total_sellable_quantity":0}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"500":{"description":"Internal Server Error"},"503":{"description":"Service Unavailable"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Inventory"]}},"/2026-01/inventory-level/locations":{"get":{"summary":"Get All Inventory Levels Grouped By Fulfillment Center","description":"Retrieves inventory levels for all inventory items grouped by fulfillment center location. Supports filtering by location type, location ID, and various product attributes.","parameters":[{"name":"LocationType","in":"query","description":"","schema":{"type":"string","additionalProperties":false}},{"name":"LocationId","in":"query","description":"","schema":{"type":"string","format":"int32","additionalProperties":false}},{"name":"SearchBy","in":"query","description":"","schema":{"type":"string","additionalProperties":false}},{"name":"InventoryIds","in":"query","description":"","schema":{"type":"string","additionalProperties":false,"items":{"type":"integer","format":"int32","additionalProperties":false}}},{"name":"IsActive","in":"query","description":"","schema":{"type":"boolean","additionalProperties":false}},{"name":"IsDigital","in":"query","description":"","schema":{"type":"boolean","additionalProperties":false}},{"name":"PageSize","in":"query","description":"","schema":{"type":"string","format":"int32","additionalProperties":false}},{"name":"SortBy","in":"query","description":"","schema":{"type":"string","additionalProperties":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.InventoryQuantityFcResponsePagedResponse"},"example":{"first":"string","items":[{"inventory_id":0,"locations":[{"awaiting_quantity":0,"committed_quantity":0,"fulfillable_quantity":0,"internal_transfer_quantity":0,"location_id":0,"name":"string","on_hand_quantity":0}],"name":"string","sku":"string"}],"last":"string","next":"string","prev":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"500":{"description":"Internal Server Error"},"503":{"description":"Service Unavailable"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Inventory"]}},"/2026-01/inventory/{inventoryId}":{"get":{"summary":"Get Inventory","description":"Retrieves detailed information about a specific inventory item by its ID, including product details, variant information, and associated metadata.","parameters":[{"name":"inventoryId","in":"path","required":true,"description":"","schema":{"type":"string","format":"int32","additionalProperties":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.InventoryResponse"},"example":{"barcode":"string","dimensions":{"height":0.1,"is_locked":true,"length":0.1,"unit":"string","validated":true,"width":0.1},"inventory_id":0,"is_case":true,"is_lot":true,"name":"string","sku":"string","user_id":0,"variant":{"hazmat":{"is_hazmat":true,"validated":true},"is_active":true,"is_bundle":true,"is_digital":true},"weight":{"unit":"string","value":0.1}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"500":{"description":"Internal Server Error"},"503":{"description":"Service Unavailable"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Inventory"]}},"/2026-01/inventory-level/{inventoryId}/lots":{"get":{"summary":"Get Inventory Levels Grouped By Lot","description":"Retrieves inventory levels for a specific inventory item broken down by lot number. Useful for tracking inventory by manufacturing lot, expiration date, or batch information.","parameters":[{"name":"inventoryId","in":"path","required":true,"description":"","schema":{"type":"string","format":"int32","additionalProperties":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.InventoryQuantityLotResponse"},"example":{"inventory_id":0,"lots":[{"awaiting_quantity":0,"committed_quantity":0,"fulfillable_quantity":0,"internal_transfer_quantity":0,"locations":[{"awaiting_quantity":0,"committed_quantity":0,"fulfillable_quantity":0,"internal_transfer_quantity":0,"location_id":0,"name":"string","on_hand_quantity":0}],"lot_date":"2019-08-24T14:15:22Z","lot_number":"string","on_hand_quantity":0}],"name":"string","sku":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"500":{"description":"Internal Server Error"},"503":{"description":"Service Unavailable"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Inventory"]}},"/2026-01/inventory-level/lots":{"get":{"summary":"Get All Inventory Levels Grouped By Lot","description":"Retrieves inventory levels for all inventory items grouped by lot number. Enables tracking of inventory across multiple lots, including expiration dates and manufacturing batch information.","parameters":[{"name":"LocationId","in":"query","description":"","schema":{"type":"string","format":"int32","additionalProperties":false}},{"name":"SearchBy","in":"query","description":"","schema":{"type":"string","additionalProperties":false}},{"name":"InventoryIds","in":"query","description":"","schema":{"type":"string","additionalProperties":false,"items":{"type":"integer","format":"int32","additionalProperties":false}}},{"name":"IsActive","in":"query","description":"","schema":{"type":"boolean","additionalProperties":false}},{"name":"IsDigital","in":"query","description":"","schema":{"type":"boolean","additionalProperties":false}},{"name":"PageSize","in":"query","description":"","schema":{"type":"string","format":"int32","additionalProperties":false}},{"name":"SortBy","in":"query","description":"","schema":{"type":"string","additionalProperties":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.InventoryQuantityLotResponsePagedResponse"},"example":{"first":"string","items":[{"inventory_id":0,"lots":[{"awaiting_quantity":0,"committed_quantity":0,"fulfillable_quantity":0,"internal_transfer_quantity":0,"locations":[{"awaiting_quantity":0,"committed_quantity":0,"fulfillable_quantity":0,"internal_transfer_quantity":0,"location_id":0,"name":"string","on_hand_quantity":0}],"lot_date":"2019-08-24T14:15:22Z","lot_number":"string","on_hand_quantity":0}],"name":"string","sku":"string"}],"last":"string","next":"string","prev":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"500":{"description":"Internal Server Error"},"503":{"description":"Service Unavailable"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Inventory"]}},"/2026-01/inventory-level/{inventoryId}/locations":{"get":{"summary":"Get Inventory Levels Grouped By Fulfillment Center","description":"Retrieves inventory levels for a specific inventory item broken down by fulfillment center location. Shows quantity breakdowns for each location where the inventory is stored.","parameters":[{"name":"inventoryId","in":"path","required":true,"description":"","schema":{"type":"string","format":"int32","additionalProperties":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.InventoryQuantityFcResponse"},"example":{"inventory_id":0,"locations":[{"awaiting_quantity":0,"committed_quantity":0,"fulfillable_quantity":0,"internal_transfer_quantity":0,"location_id":0,"name":"string","on_hand_quantity":0}],"name":"string","sku":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"500":{"description":"Internal Server Error"},"503":{"description":"Service Unavailable"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Inventory"]}},"/2026-01/inventory":{"get":{"summary":"Get All Inventories","description":"Retrieves a paginated list of all inventory items. Supports filtering by active status, tags, and various product attributes. Use query parameters to search and filter results.","parameters":[{"name":"SearchBy","in":"query","description":"","schema":{"type":"string","additionalProperties":false}},{"name":"FilterOperations","in":"query","description":"","schema":{"type":"string","additionalProperties":false,"items":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.FilterOperation"}}},{"name":"InventoryIds","in":"query","description":"","schema":{"type":"string","additionalProperties":false,"items":{"type":"integer","format":"int32","additionalProperties":false}}},{"name":"IsActive","in":"query","description":"","schema":{"type":"boolean","additionalProperties":false}},{"name":"IsDigital","in":"query","description":"","schema":{"type":"boolean","additionalProperties":false}},{"name":"PageSize","in":"query","description":"","schema":{"type":"string","format":"int32","additionalProperties":false}},{"name":"SortBy","in":"query","description":"","schema":{"type":"string","additionalProperties":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.InventoryResponsePagedResponse"},"example":{"first":"string","items":[{"barcode":"string","dimensions":{"height":0.1,"is_locked":true,"length":0.1,"unit":"string","validated":true,"width":0.1},"inventory_id":0,"is_case":true,"is_lot":true,"name":"string","sku":"string","user_id":0,"variant":{"hazmat":{"is_hazmat":true,"validated":true},"is_active":true,"is_bundle":true,"is_digital":true},"weight":{"unit":"string","value":0.1}}],"last":"string","next":"string","prev":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Inventory.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"500":{"description":"Internal Server Error"},"503":{"description":"Service Unavailable"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Inventory"]}},"/2026-01/return/{id}":{"put":{"summary":"Edit Return Order\n","description":"Updates an existing return using the provided request body and returns the updated return payload.\n","parameters":[{"name":"id","in":"path","required":true,"description":"","schema":{"type":"string","format":"int32","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Returns.PublicReturnV1Dto"},"example":{"channel":{"id":0,"name":"string"},"completed_date":"2019-08-24T14:15:22Z","customer_name":"string","fulfillment_center":{"id":0,"name":"string"},"id":0,"insert_date":"2019-08-24T14:15:22Z","inventory":[{"action_requested":{"action":"string","action_type":"string","instructions":"string"},"action_taken":[{"action":"string","action_reason":"string","image_url":"http://example.com","quantity_processed":0}],"id":0,"name":"string","quantity":0}],"invoice_amount":0.1,"original_shipment_id":0,"reference_id":"string","return_type":"string","status":"string","store_order_id":"string","tracking_number":"string","transactions":[{"amount":0.1,"transaction_type":"string"}]}}}},"401":{"description":"Authorization missing or invalid"},"403":{"description":"The provided credentials are not authorized to access this resource"},"404":{"description":"Not Found"},"422":{"description":"Client Error","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Returns.ApiError"},"example":{"details":null,"errors":["string"],"message":"string","stack_trace":"string"}}}}},"requestBody":{"x-name":"returns.CreateReturnRequest","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Returns.CreateReturnRequest"}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Returns"]},"get":{"summary":"Get Return Order\n","description":"Retrieves the complete details of a specific return order by its unique ID. Use this to view return status, inventory items, transactions, and processing history.\n","parameters":[{"name":"id","in":"path","required":true,"description":"The Id of the Return\n","schema":{"type":"string","format":"int32","additionalProperties":false}},{"name":"shipbob_channel_id","in":"header","description":"Channel Id for Operation\n","schema":{"type":"string","format":"int32","additionalProperties":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Returns.PublicReturnDto"},"example":{"arrived_date":"2019-08-24T14:15:22Z","awaiting_arrival_date":"2019-08-24T14:15:22Z","cancelled_date":"2019-08-24T14:15:22Z","channel":{"id":0,"name":"string"},"completed_date":"2019-08-24T14:15:22Z","customer_name":"string","fulfillment_center":{"id":0,"name":"string"},"id":0,"insert_date":"2019-08-24T14:15:22Z","inventory":[{"action_requested":{"action":"string","action_type":"string","instructions":"string"},"action_taken":[{"action":"string","action_reason":"string","image_url":"http://example.com","quantity_processed":0}],"barcodes":["string"],"id":0,"lot_information":{"expiration":"2019-08-24T14:15:22Z","minimumShelfLife":0,"number":"string"},"name":"string","quantity":0,"sku":"string"}],"invoice":{"amount":0.1,"currency_code":"string"},"original_shipment_id":0,"processing_date":"2019-08-24T14:15:22Z","reference_id":"string","return_type":"string","shipment_tracking_number":"string","status":"string","status_history":[{"status":"string","timestamp":"2019-08-24T14:15:22Z"}],"store_order_id":"string","tracking_number":"string","transactions":[{"amount":0.1,"transaction_type":"string"}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Returns.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"401":{"description":"Authorization missing or invalid"},"403":{"description":"The provided credentials are not authorized to access this resource"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Returns.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Returns"]}},"/2026-01/taxonomy/{id}/parent":{"get":{"summary":"Get Taxonomy Parent","description":"Retrieves the parent taxonomy node for a given taxonomy ID.","parameters":[{"name":"id","in":"path","required":true,"description":"","schema":{"type":"string","format":"int32","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.TaxonomyViewModel"},"example":{"children":[{"has_children":true,"id":0,"name":"string","path":"string"}],"id":0,"name":"string","parent":{"id":0,"name":"string","path":"string"},"path":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Get.Api.V5.Taxonomy.Id.Parent.Unauthorized.OneOf.ProblemDetails.HttpValidationProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Get.Api.V5.Taxonomy.Id.Parent.Forbidden.OneOf.ProblemDetails.HttpValidationProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Get.Api.V5.Taxonomy.Id.Parent.Not.Found.OneOf.ProblemDetails.HttpValidationProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"500":{"description":"Server Error"},"503":{"description":"Server Error"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]}},"/2026-01/product/{productId}:moveVariants":{"post":{"summary":"Move Variants Between Products","description":"Moves variants from their current product to the target product specified in the path. Provide an array of variant IDs to move.","parameters":[{"name":"productId","in":"path","required":true,"description":"","schema":{"type":"string","format":"int64","additionalProperties":false}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.ProductViewModel"},"example":{"category":{"id":0,"name":"string"},"created_on":"2019-08-24T14:15:22Z","id":0,"name":"string","sub_category":{"id":0,"name":"string"},"taxonomy":{"id":0,"name":"string","parent_id":0,"parent_name":"string","path":"string"},"type":"string","updated_on":"2019-08-24T14:15:22Z","user_id":0,"variants":[{"additional_hazmat_attributes":{"charge_state_percentage":0.1,"container_metal":true,"container_type":"string","lithium_battery_packaging":"string","lithium_battery_type":"string","magnet":true,"net_volume":0.1,"net_weight":0.1},"associated_bundles":[{"product_id":0,"product_name":"string","quantity":0,"variant_id":0,"variant_sku":"string"}],"barcode":"string","barcode_sticker_url":"string","bundle_definition":[{"product_id":0,"quantity":0,"variant_id":0,"variant_name":"string","variant_sku":"string"}],"channel_metadata":[{"channel_id":0,"channel_name":"string","currency":"string","id":0,"is_inventory_sync_enabled":true,"legacy_product_id":0,"platform":"string","platform_identifier":"string","platform_inventory_item_id":"string","price":0.1,"seller_sku":"string"}],"created_on":"2019-08-24T14:15:22Z","customs":{"country_code_of_origin":"string","currency":"string","description":"string","hs_tariff_code":"string","is321_eligible":true,"value":0},"dimension":{"height":0.1,"is_locked":true,"length":0.1,"source":"string","unit":"string","width":0.1},"fulfillment_settings":{"dangerous_goods":true,"is_bpm_parcel":true,"is_case_pick":true,"msds_url":"string","requires_prop65":true,"serial_scan":{"exact_character_length":0,"is_enabled":true,"prefix":"string","suffix":"string"}},"gtin":"string","id":0,"inventory":{"inventory_id":0,"on_hand_qty":0},"is_digital":true,"is_image_uploaded":true,"lot_information":{"is_lot":true,"minimum_shelf_life_days":0},"merge_children":[{"channel_ids":[0],"completed_at":"2019-08-24T14:15:22Z","inventory_id":0,"variant_id":0,"variant_name":"string"}],"name":"string","packaging_material_type":{"id":0,"name":"string"},"packaging_requirement":{"id":0,"name":"string"},"return_preferences":{"backup_action":{"id":0,"name":"string"},"instructions":"string","primary_action":{"id":0,"name":"string"},"return_to_sender_backup_action":{"id":0,"name":"string"},"return_to_sender_primary_action":{"id":0,"name":"string"}},"reviews_pending":["string"],"sku":"string","status":"string","upc":"string","updated_on":"2019-08-24T14:15:22Z","weight":{"unit":"string","weight":0.1}}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Post.Api.V5.Product.ProductId.MoveVariants.Bad.Request.Object"},"example":{"property1":["string"],"property2":["string"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Post.Api.V5.Product.ProductId.MoveVariants.Not.Found.OneOf.ProblemDetails.HttpValidationProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}}},"requestBody":{"x-name":"products.MigrateVariantRequestModel","description":"Migration definition","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.MigrateVariantRequestModel"}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]}},"/2026-01/taxonomy/{id}":{"get":{"summary":"Get Taxonomy by ID","description":"Retrieves a specific taxonomy node and its details by taxonomy ID.","parameters":[{"name":"id","in":"path","required":true,"description":"","schema":{"type":"string","format":"int32","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.TaxonomyViewModel"},"example":{"children":[{"has_children":true,"id":0,"name":"string","path":"string"}],"id":0,"name":"string","parent":{"id":0,"name":"string","path":"string"},"path":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Get.Api.V5.Taxonomy.Id.Unauthorized.OneOf.ProblemDetails.HttpValidationProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Get.Api.V5.Taxonomy.Id.Forbidden.OneOf.ProblemDetails.HttpValidationProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Get.Api.V5.Taxonomy.Id.Not.Found.OneOf.ProblemDetails.HttpValidationProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"500":{"description":"Server Error"},"503":{"description":"Server Error"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]}},"/2026-01/taxonomy":{"get":{"summary":"Get Taxonomies","description":"Retrieves all available product taxonomies for categorizing products.","parameters":[{"name":"search","in":"query","description":"","schema":{"type":"string","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.TaxonomyViewModelArray"},"example":[{"children":[{"has_children":true,"id":0,"name":"string","path":"string"}],"id":0,"name":"string","parent":{"id":0,"name":"string","path":"string"},"path":"string"}]}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Get.Api.V5.Taxonomy.Unauthorized.OneOf.ProblemDetails.HttpValidationProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Get.Api.V5.Taxonomy.Forbidden.OneOf.ProblemDetails.HttpValidationProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"500":{"description":"Server Error"},"503":{"description":"Server Error"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]}},"/2026-01/variant/{variantId}:convertToBundle":{"post":{"summary":"Convert Variant to Bundle","description":"Converts an existing product variant into a bundle product. Provide the bundle definition specifying which variants and quantities make up the bundle.","parameters":[{"name":"variantId","in":"path","required":true,"description":"","schema":{"type":"string","format":"int64","additionalProperties":false}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.ProductViewModelV5"},"example":{"created_on":"2019-08-24T14:15:22Z","id":0,"name":"string","taxonomy":{"id":0,"name":"string","parent_id":0,"parent_name":"string","path":"string"},"type":"string","updated_on":"2019-08-24T14:15:22Z","user_id":0,"variants":[{"additional_hazmat_attributes":{"charge_state_percentage":0.1,"container_metal":true,"container_type":"string","lithium_battery_packaging":"string","lithium_battery_type":"string","magnet":true,"net_volume":0.1,"net_weight":0.1},"associated_bundles":[{"product_id":0,"product_name":"string","quantity":0,"variant_id":0,"variant_sku":"string"}],"barcodes":[{"sticker_url":"string","value":"string"}],"bundle_definition":[{"product_id":0,"quantity":0,"variant_id":0,"variant_name":"string","variant_sku":"string"}],"channel_metadata":[{"channel_id":0,"channel_name":"string","currency":"string","id":0,"is_inventory_sync_enabled":true,"legacy_product_id":0,"platform":"string","platform_identifier":"string","platform_inventory_item_id":"string","price":0.1,"seller_sku":"string"}],"created_on":"2019-08-24T14:15:22Z","customs":{"country_code_of_origin":"string","currency":"string","description":"string","hs_tariff_code":"string","is321_eligible":true,"value":0},"dimension":{"height":0.1,"is_locked":true,"length":0.1,"source":"string","unit":"string","width":0.1},"fulfillment_settings":{"dangerous_goods":true,"is_bpm_parcel":true,"is_case_pick":true,"msds_url":"string","requires_prop65":true,"serial_scan":{"exact_character_length":0,"is_enabled":true,"prefix":"string","suffix":"string"}},"gtin":"string","id":0,"inventory":{"inventory_id":0,"on_hand_qty":0},"is_digital":true,"is_image_uploaded":true,"lot_information":{"is_lot":true,"minimum_shelf_life_days":0},"merge_children":[{"channel_ids":[0],"completed_at":"2019-08-24T14:15:22Z","inventory_id":0,"variant_id":0,"variant_name":"string"}],"name":"string","packaging_material_type":{"id":0,"name":"string"},"packaging_requirement":{"id":0,"name":"string"},"return_preferences":{"backup_action":{"id":0,"name":"string"},"instructions":"string","primary_action":{"id":0,"name":"string"},"return_to_sender_backup_action":{"id":0,"name":"string"},"return_to_sender_primary_action":{"id":0,"name":"string"}},"reviews_pending":["string"],"sku":"string","status":"string","upc":"string","updated_on":"2019-08-24T14:15:22Z","weight":{"unit":"string","weight":0.1}}]}}}}},"requestBody":{"x-name":"products.ConvertVariantToBundleRequest","description":"The variant request that is to be converted to bundle","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.ConvertVariantToBundleRequest"}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]}},"/2026-01/product/{productId}":{"get":{"summary":"Get Product","description":"Retrieves a product with all its variants and details.","parameters":[{"name":"productId","in":"path","required":true,"description":"","schema":{"type":"string","format":"int64","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.ProductViewModelV5"},"example":{"created_on":"2019-08-24T14:15:22Z","id":0,"name":"string","taxonomy":{"id":0,"name":"string","parent_id":0,"parent_name":"string","path":"string"},"type":"string","updated_on":"2019-08-24T14:15:22Z","user_id":0,"variants":[{"additional_hazmat_attributes":{"charge_state_percentage":0.1,"container_metal":true,"container_type":"string","lithium_battery_packaging":"string","lithium_battery_type":"string","magnet":true,"net_volume":0.1,"net_weight":0.1},"associated_bundles":[{"product_id":0,"product_name":"string","quantity":0,"variant_id":0,"variant_sku":"string"}],"barcodes":[{"sticker_url":"string","value":"string"}],"bundle_definition":[{"product_id":0,"quantity":0,"variant_id":0,"variant_name":"string","variant_sku":"string"}],"channel_metadata":[{"channel_id":0,"channel_name":"string","currency":"string","id":0,"is_inventory_sync_enabled":true,"legacy_product_id":0,"platform":"string","platform_identifier":"string","platform_inventory_item_id":"string","price":0.1,"seller_sku":"string"}],"created_on":"2019-08-24T14:15:22Z","customs":{"country_code_of_origin":"string","currency":"string","description":"string","hs_tariff_code":"string","is321_eligible":true,"value":0},"dimension":{"height":0.1,"is_locked":true,"length":0.1,"source":"string","unit":"string","width":0.1},"fulfillment_settings":{"dangerous_goods":true,"is_bpm_parcel":true,"is_case_pick":true,"msds_url":"string","requires_prop65":true,"serial_scan":{"exact_character_length":0,"is_enabled":true,"prefix":"string","suffix":"string"}},"gtin":"string","id":0,"inventory":{"inventory_id":0,"on_hand_qty":0},"is_digital":true,"is_image_uploaded":true,"lot_information":{"is_lot":true,"minimum_shelf_life_days":0},"merge_children":[{"channel_ids":[0],"completed_at":"2019-08-24T14:15:22Z","inventory_id":0,"variant_id":0,"variant_name":"string"}],"name":"string","packaging_material_type":{"id":0,"name":"string"},"packaging_requirement":{"id":0,"name":"string"},"return_preferences":{"backup_action":{"id":0,"name":"string"},"instructions":"string","primary_action":{"id":0,"name":"string"},"return_to_sender_backup_action":{"id":0,"name":"string"},"return_to_sender_primary_action":{"id":0,"name":"string"}},"reviews_pending":["string"],"sku":"string","status":"string","upc":"string","updated_on":"2019-08-24T14:15:22Z","weight":{"unit":"string","weight":0.1}}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Get.Api.V5.Product.ProductId.Bad.Request.Object"},"example":{"property1":["string"],"property2":["string"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Get.Api.V5.Product.ProductId.Not.Found.OneOf.ProblemDetails.HttpValidationProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]},"patch":{"summary":"Update Product","description":"Updates a product. Supports partial updates - only the fields provided will be updated. When updating variants through this endpoint, you must include the variant ID.","parameters":[{"name":"productId","in":"path","required":true,"description":"The product identifier\n","schema":{"type":"string","format":"int64","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.ProductViewModelV5"},"example":{"created_on":"2019-08-24T14:15:22Z","id":0,"name":"string","taxonomy":{"id":0,"name":"string","parent_id":0,"parent_name":"string","path":"string"},"type":"string","updated_on":"2019-08-24T14:15:22Z","user_id":0,"variants":[{"additional_hazmat_attributes":{"charge_state_percentage":0.1,"container_metal":true,"container_type":"string","lithium_battery_packaging":"string","lithium_battery_type":"string","magnet":true,"net_volume":0.1,"net_weight":0.1},"associated_bundles":[{"product_id":0,"product_name":"string","quantity":0,"variant_id":0,"variant_sku":"string"}],"barcodes":[{"sticker_url":"string","value":"string"}],"bundle_definition":[{"product_id":0,"quantity":0,"variant_id":0,"variant_name":"string","variant_sku":"string"}],"channel_metadata":[{"channel_id":0,"channel_name":"string","currency":"string","id":0,"is_inventory_sync_enabled":true,"legacy_product_id":0,"platform":"string","platform_identifier":"string","platform_inventory_item_id":"string","price":0.1,"seller_sku":"string"}],"created_on":"2019-08-24T14:15:22Z","customs":{"country_code_of_origin":"string","currency":"string","description":"string","hs_tariff_code":"string","is321_eligible":true,"value":0},"dimension":{"height":0.1,"is_locked":true,"length":0.1,"source":"string","unit":"string","width":0.1},"fulfillment_settings":{"dangerous_goods":true,"is_bpm_parcel":true,"is_case_pick":true,"msds_url":"string","requires_prop65":true,"serial_scan":{"exact_character_length":0,"is_enabled":true,"prefix":"string","suffix":"string"}},"gtin":"string","id":0,"inventory":{"inventory_id":0,"on_hand_qty":0},"is_digital":true,"is_image_uploaded":true,"lot_information":{"is_lot":true,"minimum_shelf_life_days":0},"merge_children":[{"channel_ids":[0],"completed_at":"2019-08-24T14:15:22Z","inventory_id":0,"variant_id":0,"variant_name":"string"}],"name":"string","packaging_material_type":{"id":0,"name":"string"},"packaging_requirement":{"id":0,"name":"string"},"return_preferences":{"backup_action":{"id":0,"name":"string"},"instructions":"string","primary_action":{"id":0,"name":"string"},"return_to_sender_backup_action":{"id":0,"name":"string"},"return_to_sender_primary_action":{"id":0,"name":"string"}},"reviews_pending":["string"],"sku":"string","status":"string","upc":"string","updated_on":"2019-08-24T14:15:22Z","weight":{"unit":"string","weight":0.1}}]}}}}},"requestBody":{"x-name":"products.UpdateProductRequestModelV5","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.UpdateProductRequestModelV5"}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]},"delete":{"summary":"Delete Product Bundle","description":"Deletes a bundle product by ID. Delete operation not allowed for non-bundles.","parameters":[{"name":"productId","in":"path","required":true,"description":"The product identifier\n","schema":{"type":"string","format":"int64","additionalProperties":false}}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Delete.Api.V5.Product.ProductId.Bad.Request.Object"},"example":{"property1":["string"],"property2":["string"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Delete.Api.V5.Product.ProductId.Not.Found.OneOf.ProblemDetails.HttpValidationProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]}},"/2026-01/product/{productId}/variants":{"get":{"summary":"Get Product Variants","description":"Retrieves all variants for a specific product.","parameters":[{"name":"productId","in":"path","required":true,"description":"The product id\n","schema":{"type":"string","format":"int64","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.VariantViewModelV5Array"},"example":[{"additional_hazmat_attributes":{"charge_state_percentage":0.1,"container_metal":true,"container_type":"string","lithium_battery_packaging":"string","lithium_battery_type":"string","magnet":true,"net_volume":0.1,"net_weight":0.1},"associated_bundles":[{"product_id":0,"product_name":"string","quantity":0,"variant_id":0,"variant_sku":"string"}],"barcodes":[{"sticker_url":"string","value":"string"}],"bundle_definition":[{"product_id":0,"quantity":0,"variant_id":0,"variant_name":"string","variant_sku":"string"}],"channel_metadata":[{"channel_id":0,"channel_name":"string","currency":"string","id":0,"is_inventory_sync_enabled":true,"legacy_product_id":0,"platform":"string","platform_identifier":"string","platform_inventory_item_id":"string","price":0.1,"seller_sku":"string"}],"created_on":"2019-08-24T14:15:22Z","customs":{"country_code_of_origin":"string","currency":"string","description":"string","hs_tariff_code":"string","is321_eligible":true,"value":0},"dimension":{"height":0.1,"is_locked":true,"length":0.1,"source":"string","unit":"string","width":0.1},"fulfillment_settings":{"dangerous_goods":true,"is_bpm_parcel":true,"is_case_pick":true,"msds_url":"string","requires_prop65":true,"serial_scan":{"exact_character_length":0,"is_enabled":true,"prefix":"string","suffix":"string"}},"gtin":"string","id":0,"inventory":{"inventory_id":0,"on_hand_qty":0},"is_digital":true,"is_image_uploaded":true,"lot_information":{"is_lot":true,"minimum_shelf_life_days":0},"merge_children":[{"channel_ids":[0],"completed_at":"2019-08-24T14:15:22Z","inventory_id":0,"variant_id":0,"variant_name":"string"}],"name":"string","packaging_material_type":{"id":0,"name":"string"},"packaging_requirement":{"id":0,"name":"string"},"return_preferences":{"backup_action":{"id":0,"name":"string"},"instructions":"string","primary_action":{"id":0,"name":"string"},"return_to_sender_backup_action":{"id":0,"name":"string"},"return_to_sender_primary_action":{"id":0,"name":"string"}},"reviews_pending":["string"],"sku":"string","status":"string","upc":"string","updated_on":"2019-08-24T14:15:22Z","weight":{"unit":"string","weight":0.1}}]}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Get.Api.V5.Product.ProductId.Variants.Bad.Request.Object"},"example":{"property1":["string"],"property2":["string"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Get.Api.V5.Product.ProductId.Variants.Not.Found.OneOf.ProblemDetails.HttpValidationProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]},"post":{"summary":"Add Product Variants","description":"Adds new variants to an existing product. The request body must be an array of variant objects, each requiring a unique SKU.","parameters":[{"name":"productId","in":"path","required":true,"description":"","schema":{"type":"string","format":"int64","additionalProperties":false}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.ProductViewModelV5"},"example":{"created_on":"2019-08-24T14:15:22Z","id":0,"name":"string","taxonomy":{"id":0,"name":"string","parent_id":0,"parent_name":"string","path":"string"},"type":"string","updated_on":"2019-08-24T14:15:22Z","user_id":0,"variants":[{"additional_hazmat_attributes":{"charge_state_percentage":0.1,"container_metal":true,"container_type":"string","lithium_battery_packaging":"string","lithium_battery_type":"string","magnet":true,"net_volume":0.1,"net_weight":0.1},"associated_bundles":[{"product_id":0,"product_name":"string","quantity":0,"variant_id":0,"variant_sku":"string"}],"barcodes":[{"sticker_url":"string","value":"string"}],"bundle_definition":[{"product_id":0,"quantity":0,"variant_id":0,"variant_name":"string","variant_sku":"string"}],"channel_metadata":[{"channel_id":0,"channel_name":"string","currency":"string","id":0,"is_inventory_sync_enabled":true,"legacy_product_id":0,"platform":"string","platform_identifier":"string","platform_inventory_item_id":"string","price":0.1,"seller_sku":"string"}],"created_on":"2019-08-24T14:15:22Z","customs":{"country_code_of_origin":"string","currency":"string","description":"string","hs_tariff_code":"string","is321_eligible":true,"value":0},"dimension":{"height":0.1,"is_locked":true,"length":0.1,"source":"string","unit":"string","width":0.1},"fulfillment_settings":{"dangerous_goods":true,"is_bpm_parcel":true,"is_case_pick":true,"msds_url":"string","requires_prop65":true,"serial_scan":{"exact_character_length":0,"is_enabled":true,"prefix":"string","suffix":"string"}},"gtin":"string","id":0,"inventory":{"inventory_id":0,"on_hand_qty":0},"is_digital":true,"is_image_uploaded":true,"lot_information":{"is_lot":true,"minimum_shelf_life_days":0},"merge_children":[{"channel_ids":[0],"completed_at":"2019-08-24T14:15:22Z","inventory_id":0,"variant_id":0,"variant_name":"string"}],"name":"string","packaging_material_type":{"id":0,"name":"string"},"packaging_requirement":{"id":0,"name":"string"},"return_preferences":{"backup_action":{"id":0,"name":"string"},"instructions":"string","primary_action":{"id":0,"name":"string"},"return_to_sender_backup_action":{"id":0,"name":"string"},"return_to_sender_primary_action":{"id":0,"name":"string"}},"reviews_pending":["string"],"sku":"string","status":"string","upc":"string","updated_on":"2019-08-24T14:15:22Z","weight":{"unit":"string","weight":0.1}}]}}}}},"requestBody":{"x-name":"products.CreateProductVariantRequestModelV5Array","description":"The product variants to add to product","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.CreateProductVariantRequestModelV5Array"}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]},"patch":{"summary":"Update Product Variants","description":"Updates one or more product variants. The request body must be an array of variant objects. Each variant must include the variant ID, and only the fields provided will be updated.","parameters":[{"name":"productId","in":"path","required":true,"description":"","schema":{"type":"string","format":"int64","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.VariantViewModelV5Array"},"example":[{"additional_hazmat_attributes":{"charge_state_percentage":0.1,"container_metal":true,"container_type":"string","lithium_battery_packaging":"string","lithium_battery_type":"string","magnet":true,"net_volume":0.1,"net_weight":0.1},"associated_bundles":[{"product_id":0,"product_name":"string","quantity":0,"variant_id":0,"variant_sku":"string"}],"barcodes":[{"sticker_url":"string","value":"string"}],"bundle_definition":[{"product_id":0,"quantity":0,"variant_id":0,"variant_name":"string","variant_sku":"string"}],"channel_metadata":[{"channel_id":0,"channel_name":"string","currency":"string","id":0,"is_inventory_sync_enabled":true,"legacy_product_id":0,"platform":"string","platform_identifier":"string","platform_inventory_item_id":"string","price":0.1,"seller_sku":"string"}],"created_on":"2019-08-24T14:15:22Z","customs":{"country_code_of_origin":"string","currency":"string","description":"string","hs_tariff_code":"string","is321_eligible":true,"value":0},"dimension":{"height":0.1,"is_locked":true,"length":0.1,"source":"string","unit":"string","width":0.1},"fulfillment_settings":{"dangerous_goods":true,"is_bpm_parcel":true,"is_case_pick":true,"msds_url":"string","requires_prop65":true,"serial_scan":{"exact_character_length":0,"is_enabled":true,"prefix":"string","suffix":"string"}},"gtin":"string","id":0,"inventory":{"inventory_id":0,"on_hand_qty":0},"is_digital":true,"is_image_uploaded":true,"lot_information":{"is_lot":true,"minimum_shelf_life_days":0},"merge_children":[{"channel_ids":[0],"completed_at":"2019-08-24T14:15:22Z","inventory_id":0,"variant_id":0,"variant_name":"string"}],"name":"string","packaging_material_type":{"id":0,"name":"string"},"packaging_requirement":{"id":0,"name":"string"},"return_preferences":{"backup_action":{"id":0,"name":"string"},"instructions":"string","primary_action":{"id":0,"name":"string"},"return_to_sender_backup_action":{"id":0,"name":"string"},"return_to_sender_primary_action":{"id":0,"name":"string"}},"reviews_pending":["string"],"sku":"string","status":"string","upc":"string","updated_on":"2019-08-24T14:15:22Z","weight":{"unit":"string","weight":0.1}}]}}}},"requestBody":{"x-name":"products.UpdateProductVariantModelV5","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.UpdateProductVariantModelV5"}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]}},"/2026-01/packaging-requirement":{"get":{"summary":"Get Packaging Requirement","description":"Retrieves all available packaging requirements that can be assigned to a product.","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.PackagingRequirementViewModelArray"},"example":[{"applicable_categories":[{"id":0,"sub_category_ids":[0]}],"applicable_packaging_material_types":[{"id":0,"name":"string"}],"applicable_taxonomy":["string"],"description":"string","id":0,"name":"string"}]}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]}},"/2026-01/product":{"post":{"summary":"Create Product","description":"Creates a new product with one or more variants. Requires a product name and at least one variant with a unique SKU.","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.ProductViewModelV5"},"example":{"created_on":"2019-08-24T14:15:22Z","id":0,"name":"string","taxonomy":{"id":0,"name":"string","parent_id":0,"parent_name":"string","path":"string"},"type":"string","updated_on":"2019-08-24T14:15:22Z","user_id":0,"variants":[{"additional_hazmat_attributes":{"charge_state_percentage":0.1,"container_metal":true,"container_type":"string","lithium_battery_packaging":"string","lithium_battery_type":"string","magnet":true,"net_volume":0.1,"net_weight":0.1},"associated_bundles":[{"product_id":0,"product_name":"string","quantity":0,"variant_id":0,"variant_sku":"string"}],"barcodes":[{"sticker_url":"string","value":"string"}],"bundle_definition":[{"product_id":0,"quantity":0,"variant_id":0,"variant_name":"string","variant_sku":"string"}],"channel_metadata":[{"channel_id":0,"channel_name":"string","currency":"string","id":0,"is_inventory_sync_enabled":true,"legacy_product_id":0,"platform":"string","platform_identifier":"string","platform_inventory_item_id":"string","price":0.1,"seller_sku":"string"}],"created_on":"2019-08-24T14:15:22Z","customs":{"country_code_of_origin":"string","currency":"string","description":"string","hs_tariff_code":"string","is321_eligible":true,"value":0},"dimension":{"height":0.1,"is_locked":true,"length":0.1,"source":"string","unit":"string","width":0.1},"fulfillment_settings":{"dangerous_goods":true,"is_bpm_parcel":true,"is_case_pick":true,"msds_url":"string","requires_prop65":true,"serial_scan":{"exact_character_length":0,"is_enabled":true,"prefix":"string","suffix":"string"}},"gtin":"string","id":0,"inventory":{"inventory_id":0,"on_hand_qty":0},"is_digital":true,"is_image_uploaded":true,"lot_information":{"is_lot":true,"minimum_shelf_life_days":0},"merge_children":[{"channel_ids":[0],"completed_at":"2019-08-24T14:15:22Z","inventory_id":0,"variant_id":0,"variant_name":"string"}],"name":"string","packaging_material_type":{"id":0,"name":"string"},"packaging_requirement":{"id":0,"name":"string"},"return_preferences":{"backup_action":{"id":0,"name":"string"},"instructions":"string","primary_action":{"id":0,"name":"string"},"return_to_sender_backup_action":{"id":0,"name":"string"},"return_to_sender_primary_action":{"id":0,"name":"string"}},"reviews_pending":["string"],"sku":"string","status":"string","upc":"string","updated_on":"2019-08-24T14:15:22Z","weight":{"unit":"string","weight":0.1}}]}}}}},"requestBody":{"x-name":"products.CreateProductRequestModelV5","description":"The product to add","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.CreateProductRequestModelV5"}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]},"get":{"summary":"Get Products","description":"Retrieves a paginated list of products. Supports filtering by search term, barcode, SKU, status, and other criteria.","parameters":[{"name":"Search","in":"query","description":"Search Products by name, sku, inventory id or product Id.\n","schema":{"type":"string","additionalProperties":false}},{"name":"Barcode","in":"query","description":"Barcode Associated with variant\n","schema":{"type":"string","additionalProperties":false}},{"name":"Barcodes","in":"query","description":"Barcodes Associated with variant\n","schema":{"type":"string","additionalProperties":false}},{"name":"CategoryIds","in":"query","description":"List of Category Ids associated with product\n","schema":{"type":"string","additionalProperties":false}},{"name":"ChannelIds","in":"query","description":"Looks for Products variants by their channel IDs\n","schema":{"type":"string","additionalProperties":false}},{"name":"HasDigitalVariants","in":"query","description":"Looks for Products with/without digital variants\n","schema":{"type":"string","additionalProperties":false}},{"name":"HasVariants","in":"query","description":"Looks for Products with/without variants\n","schema":{"type":"string","additionalProperties":false}},{"name":"InventoryId","in":"query","description":"Looks for variants by its associated inventory id\n","schema":{"type":"string","additionalProperties":false}},{"name":"IsInventorySyncEnabled","in":"query","description":"Looks for Products variants by their IsInventorySyncEnabled is true\n","schema":{"type":"string","additionalProperties":false}},{"name":"LastUpdatedTimestamp","in":"query","description":"Looks for Products that have been updated since the given date\n","schema":{"type":"string","additionalProperties":false}},{"name":"LegacyIds","in":"query","description":"Looks for Products with by Legacy Product Id(s)\n","schema":{"type":"string","additionalProperties":false}},{"name":"Name","in":"query","description":"Looks for Products/Variants by name\n","schema":{"type":"string","additionalProperties":false}},{"name":"OnHand","in":"query","description":"Looks for Products with inventory\n","schema":{"type":"string","additionalProperties":false}},{"name":"PlatformIds","in":"query","description":"Looks for Products variants by their external Platform IDs\n","schema":{"type":"string","additionalProperties":false}},{"name":"ProductId","in":"query","description":"Looks for Products with an assigned Id\n","schema":{"type":"string","additionalProperties":false}},{"name":"ProductType","in":"query","description":"Looks for Products by type\n","schema":{"type":"string","additionalProperties":false}},{"name":"ReviewsPending","in":"query","description":"Looks for Products by ReviewsPending\n","schema":{"type":"string","additionalProperties":false}},{"name":"SalesChannel","in":"query","description":"Looks for Products variants assigned to a platform/sales channel \n","schema":{"type":"string","additionalProperties":false}},{"name":"SellerSKU","in":"query","description":"Looks for Products that match the provided Seller query\n","schema":{"type":"string","additionalProperties":false}},{"name":"SKU","in":"query","description":"Looks for Products that match the provided Sku query\n","schema":{"type":"string","additionalProperties":false}},{"name":"TaxonomyIds","in":"query","description":"Looks for Products variants by their taxonomy id or any descendants of the taxonomies sent separated by comma\n","schema":{"type":"string","additionalProperties":false}},{"name":"VariantId","in":"query","description":"Looks for products that contain a variant with the given ID\n","schema":{"type":"string","additionalProperties":false}},{"name":"VariantStatus","in":"query","description":"Looks for Products with variants that contain provided status\n","schema":{"type":"string","additionalProperties":false}},{"name":"PageSize","in":"query","description":"1-250\n","schema":{"type":"string","additionalProperties":false}},{"name":"SortBy","in":"query","description":"Id, Name, Category, TotalOnHandQty\n","schema":{"type":"string","additionalProperties":false}},{"name":"SortOrder","in":"query","description":"ASC,DESC\n","schema":{"type":"string","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.ProductViewModelV5PagedResponse"},"example":{"first":"string","items":[{"created_on":"2019-08-24T14:15:22Z","id":0,"name":"string","taxonomy":{"id":0,"name":"string","parent_id":0,"parent_name":"string","path":"string"},"type":"string","updated_on":"2019-08-24T14:15:22Z","user_id":0,"variants":[{"additional_hazmat_attributes":{"charge_state_percentage":0.1,"container_metal":true,"container_type":"string","lithium_battery_packaging":"string","lithium_battery_type":"string","magnet":true,"net_volume":0.1,"net_weight":0.1},"associated_bundles":[{"product_id":0,"product_name":"string","quantity":0,"variant_id":0,"variant_sku":"string"}],"barcodes":[{"sticker_url":"string","value":"string"}],"bundle_definition":[{"product_id":0,"quantity":0,"variant_id":0,"variant_name":"string","variant_sku":"string"}],"channel_metadata":[{"channel_id":0,"channel_name":"string","currency":"string","id":0,"is_inventory_sync_enabled":true,"legacy_product_id":0,"platform":"string","platform_identifier":"string","platform_inventory_item_id":"string","price":0.1,"seller_sku":"string"}],"created_on":"2019-08-24T14:15:22Z","customs":{"country_code_of_origin":"string","currency":"string","description":"string","hs_tariff_code":"string","is321_eligible":true,"value":0},"dimension":{"height":0.1,"is_locked":true,"length":0.1,"source":"string","unit":"string","width":0.1},"fulfillment_settings":{"dangerous_goods":true,"is_bpm_parcel":true,"is_case_pick":true,"msds_url":"string","requires_prop65":true,"serial_scan":{"exact_character_length":0,"is_enabled":true,"prefix":"string","suffix":"string"}},"gtin":"string","id":0,"inventory":{"inventory_id":0,"on_hand_qty":0},"is_digital":true,"is_image_uploaded":true,"lot_information":{"is_lot":true,"minimum_shelf_life_days":0},"merge_children":[{"channel_ids":[0],"completed_at":"2019-08-24T14:15:22Z","inventory_id":0,"variant_id":0,"variant_name":"string"}],"name":"string","packaging_material_type":{"id":0,"name":"string"},"packaging_requirement":{"id":0,"name":"string"},"return_preferences":{"backup_action":{"id":0,"name":"string"},"instructions":"string","primary_action":{"id":0,"name":"string"},"return_to_sender_backup_action":{"id":0,"name":"string"},"return_to_sender_primary_action":{"id":0,"name":"string"}},"reviews_pending":["string"],"sku":"string","status":"string","upc":"string","updated_on":"2019-08-24T14:15:22Z","weight":{"unit":"string","weight":0.1}}]}],"last":"string","next":"string","prev":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Get.Api.V5.Product.Bad.Request.Object"},"example":{"property1":["string"],"property2":["string"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Get.Api.V5.Product.Not.Found.OneOf.ProblemDetails.HttpValidationProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]}},"/2026-01/product:moveVariants":{"post":{"summary":"Move Variants to New Product","description":"Creates a new product and moves existing variants from their current products into it. Provide the new product details and variant IDs.","responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.ProductViewModel"},"example":{"category":{"id":0,"name":"string"},"created_on":"2019-08-24T14:15:22Z","id":0,"name":"string","sub_category":{"id":0,"name":"string"},"taxonomy":{"id":0,"name":"string","parent_id":0,"parent_name":"string","path":"string"},"type":"string","updated_on":"2019-08-24T14:15:22Z","user_id":0,"variants":[{"additional_hazmat_attributes":{"charge_state_percentage":0.1,"container_metal":true,"container_type":"string","lithium_battery_packaging":"string","lithium_battery_type":"string","magnet":true,"net_volume":0.1,"net_weight":0.1},"associated_bundles":[{"product_id":0,"product_name":"string","quantity":0,"variant_id":0,"variant_sku":"string"}],"barcode":"string","barcode_sticker_url":"string","bundle_definition":[{"product_id":0,"quantity":0,"variant_id":0,"variant_name":"string","variant_sku":"string"}],"channel_metadata":[{"channel_id":0,"channel_name":"string","currency":"string","id":0,"is_inventory_sync_enabled":true,"legacy_product_id":0,"platform":"string","platform_identifier":"string","platform_inventory_item_id":"string","price":0.1,"seller_sku":"string"}],"created_on":"2019-08-24T14:15:22Z","customs":{"country_code_of_origin":"string","currency":"string","description":"string","hs_tariff_code":"string","is321_eligible":true,"value":0},"dimension":{"height":0.1,"is_locked":true,"length":0.1,"source":"string","unit":"string","width":0.1},"fulfillment_settings":{"dangerous_goods":true,"is_bpm_parcel":true,"is_case_pick":true,"msds_url":"string","requires_prop65":true,"serial_scan":{"exact_character_length":0,"is_enabled":true,"prefix":"string","suffix":"string"}},"gtin":"string","id":0,"inventory":{"inventory_id":0,"on_hand_qty":0},"is_digital":true,"is_image_uploaded":true,"lot_information":{"is_lot":true,"minimum_shelf_life_days":0},"merge_children":[{"channel_ids":[0],"completed_at":"2019-08-24T14:15:22Z","inventory_id":0,"variant_id":0,"variant_name":"string"}],"name":"string","packaging_material_type":{"id":0,"name":"string"},"packaging_requirement":{"id":0,"name":"string"},"return_preferences":{"backup_action":{"id":0,"name":"string"},"instructions":"string","primary_action":{"id":0,"name":"string"},"return_to_sender_backup_action":{"id":0,"name":"string"},"return_to_sender_primary_action":{"id":0,"name":"string"}},"reviews_pending":["string"],"sku":"string","status":"string","upc":"string","updated_on":"2019-08-24T14:15:22Z","weight":{"unit":"string","weight":0.1}}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Post.Api.V5.Product.MoveVariants.Bad.Request.Object"},"example":{"property1":["string"],"property2":["string"]}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.Post.Api.V5.Product.MoveVariants.Not.Found.OneOf.ProblemDetails.HttpValidationProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}}},"requestBody":{"x-name":"products.MigrateVariantRequestModel","description":"Migration definition","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.MigrateVariantRequestModel"}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]}},"/2026-01/variant/{variantId}:merge":{"post":{"summary":"Merge Variants","description":"Merges multiple product variants into a target variant. Provide an array of variant IDs to merge into the target variant specified in the path. Inventory from the merged variants will be consolidated into the target variant.","parameters":[{"name":"variantId","in":"path","required":true,"description":"The ID of the variant to use as the merge target\n","schema":{"type":"string","format":"int64","additionalProperties":false}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.ProductViewModelV5"},"example":{"created_on":"2019-08-24T14:15:22Z","id":0,"name":"string","taxonomy":{"id":0,"name":"string","parent_id":0,"parent_name":"string","path":"string"},"type":"string","updated_on":"2019-08-24T14:15:22Z","user_id":0,"variants":[{"additional_hazmat_attributes":{"charge_state_percentage":0.1,"container_metal":true,"container_type":"string","lithium_battery_packaging":"string","lithium_battery_type":"string","magnet":true,"net_volume":0.1,"net_weight":0.1},"associated_bundles":[{"product_id":0,"product_name":"string","quantity":0,"variant_id":0,"variant_sku":"string"}],"barcodes":[{"sticker_url":"string","value":"string"}],"bundle_definition":[{"product_id":0,"quantity":0,"variant_id":0,"variant_name":"string","variant_sku":"string"}],"channel_metadata":[{"channel_id":0,"channel_name":"string","currency":"string","id":0,"is_inventory_sync_enabled":true,"legacy_product_id":0,"platform":"string","platform_identifier":"string","platform_inventory_item_id":"string","price":0.1,"seller_sku":"string"}],"created_on":"2019-08-24T14:15:22Z","customs":{"country_code_of_origin":"string","currency":"string","description":"string","hs_tariff_code":"string","is321_eligible":true,"value":0},"dimension":{"height":0.1,"is_locked":true,"length":0.1,"source":"string","unit":"string","width":0.1},"fulfillment_settings":{"dangerous_goods":true,"is_bpm_parcel":true,"is_case_pick":true,"msds_url":"string","requires_prop65":true,"serial_scan":{"exact_character_length":0,"is_enabled":true,"prefix":"string","suffix":"string"}},"gtin":"string","id":0,"inventory":{"inventory_id":0,"on_hand_qty":0},"is_digital":true,"is_image_uploaded":true,"lot_information":{"is_lot":true,"minimum_shelf_life_days":0},"merge_children":[{"channel_ids":[0],"completed_at":"2019-08-24T14:15:22Z","inventory_id":0,"variant_id":0,"variant_name":"string"}],"name":"string","packaging_material_type":{"id":0,"name":"string"},"packaging_requirement":{"id":0,"name":"string"},"return_preferences":{"backup_action":{"id":0,"name":"string"},"instructions":"string","primary_action":{"id":0,"name":"string"},"return_to_sender_backup_action":{"id":0,"name":"string"},"return_to_sender_primary_action":{"id":0,"name":"string"}},"reviews_pending":["string"],"sku":"string","status":"string","upc":"string","updated_on":"2019-08-24T14:15:22Z","weight":{"unit":"string","weight":0.1}}]}}}}},"requestBody":{"x-name":"products.MergeVariantRequestModelArray","description":"The variants that should be merged to the target variant","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Products.MergeVariantRequestModelArray"}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Products"]}},"/2026-01/channel":{"get":{"summary":"Get Channels","description":"Retrieves a paginated list of channels that the authenticated user has access to based on the provided access token.\n","parameters":[{"name":"RecordsPerPage","in":"query","description":"The number of records to return per page. This parameter is used for pagination. If not provided, a default value will be used.","schema":{"type":"integer","default":50,"additionalProperties":false}},{"name":"Cursor","in":"query","description":"A cursor for pagination. This parameter is used to fetch the next set of results.","schema":{"type":"string","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Channels.ChannelsV2ViewModel"},"example":{"items":[{"application_name":"SMA","id":128944,"name":"Privileged Access Token Wednesday, July 9, 2025","scopes":["pricing_read","fulfillments_write","returns_read","receiving_read","fulfillments_read","returns_write","locations_write","channels_read","webhooks_write","locations_read","orders_write","webhooks_read","inventory_read","billing_read","receiving_write","inventory_write","orders_read","products_read","products_write"]},{"application_name":"ShipBob","id":128943,"name":"ShipBob Default","scopes":["pricing_read","returns_read","receiving_read","fulfillments_read","channels_read","locations_read","webhooks_read","inventory_read","billing_read","orders_read","products_read"]}],"next":"/2026-01/channel?cursor=eyJJZCI6NzY4MzksIkN1cnNvclR5cGUiOjB5","prev":"/2026-01/channel?cursor=eyJJZCI6NzY4NDAsIkN1cnNvclR5cGUiOjF8"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Channels.ErrorResponse"},"example":{"property1":["string"],"property2":["string"]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Channels"]}},"/2026-01/webhook":{"post":{"summary":"Create Subscription\n","description":"This endpoint creates a new webhook subscription.\n","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Webhooks.V2.Create.WebhookViewModelV2"},"example":{"created_at":"2019-08-24T14:15:22Z","description":"string","id":"12345","secret":"string","topics":["string"],"url":"string"}}}},"401":{"description":"No access right at this time"},"403":{"description":"No access"},"422":{"description":"Client Error","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Webhooks.UnprocessableEntityObjectResult"},"example":{"$type":"string","content_types":["string"],"declared_type":"string","formatters":[{}],"status_code":0,"value":{}}}}}},"requestBody":{"x-name":"webhooks.V2.CreateSubscriptionRequest","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Webhooks.V2.CreateSubscriptionRequest"}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Webhooks"]},"get":{"summary":"Get Subscriptions\n","description":"  This endpoint returns a list of webhook subscriptions.\n","parameters":[{"name":"RecordsPerPage","in":"query","description":"Number of webhooks returned per page in a paginated response.\n","schema":{"type":"number","format":"int32","maximum":250.0,"minimum":1.0,"additionalProperties":false}},{"name":"Cursor","in":"query","description":"[Optional] A pagination token used to retrieve the next or previous page of results. Omit to start at the first page.\n","schema":{"type":"string","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Webhooks.GetWebhookResponse"},"example":{"items":[{"created_at":"2019-08-24T14:15:22Z","description":"string","enabled":true,"id":"12345","topics":["string"],"url":"string"}],"next":"string","prev":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Webhooks.BadRequestObjectResult"},"example":{"$type":"string","content_types":["string"],"declared_type":"string","formatters":[{}],"status_code":0,"value":{}}}}},"401":{"description":"No access right at this time"},"403":{"description":"No access"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Webhooks"]}},"/2026-01/webhook/{id}":{"delete":{"summary":"Delete Subscription\n","description":"  This endpoint deletes a webhook subscription.\n","parameters":[{"name":"id","in":"path","required":true,"description":"This is the id of the webhook subscription to delete\n","schema":{"type":"string","additionalProperties":false}}],"responses":{"204":{"description":"Success"},"401":{"description":"No access right at this time"},"403":{"description":"No access"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Webhooks"]}},"/2026-01/invoices":{"get":{"summary":"Get Invoices","description":"Gets a paginated list of invoices, optionally filtered by invoice types and date range","parameters":[{"name":"Cursor","in":"query","description":"[Optional] A pagination token used to jump to first, last, next or previous pages. When supplied, it overrides all other filter parameters.\n","schema":{"type":"string","additionalProperties":false}},{"name":"FromDate","in":"query","description":"[Optional] Start date for filtering invoices by invoice date. Default is current - 1 month date.\n","schema":{"type":"string","format":"date-time","additionalProperties":false}},{"name":"ToDate","in":"query","description":"[Optional] End date for filtering invoices by invoice date. Default is current date.\n","schema":{"type":"string","format":"date-time","additionalProperties":false}},{"name":"InvoiceTypes","in":"query","description":"[Optional] Filter invoices by invoice type.","schema":{"type":"array","additionalProperties":false,"items":{"type":"string","additionalProperties":false,"enum":["Shipping","WarehouseStorage","Inbound Fee","Return","AdditionalFee","Credits"]}}},{"name":"PageSize","in":"query","description":"Number of invoices to return per page (default: 100). Must be between 1 and 1000.\n","schema":{"type":"number","format":"int32","additionalProperties":false}},{"name":"SortOrder","in":"query","description":"Sort invoices by Invoice Date. Values - Ascending, Descending. Default: Descending.\n","schema":{"type":"string","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Billing.InvoiceDtoCursorPagedResponseV3"},"example":{"first":"m8cUk/xJkbeYp2JJvL8oHqxL2hFuGz3qjqtkQ","items":[{"amount":0.01,"currency_code":"USD","invoice_date":"2019-08-24","invoice_id":12345,"invoice_type":"Shipping","running_balance":123.01}],"last":"n8cUk/xJkbeYp2JJvL8oHqxL2hFiGz3qjqtkQ","next":"m8cUk/xJkbeYp2JhvL8oHqxL3hFiGz3qjqtkQ","prev":"m8cUk/xJkbeYp2JJvL8oHqxL2hFvGz3qjqtkQ"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Billing.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"401":{"description":"Authorization missing or invalid"},"403":{"description":"The provided credentials are not authorized to access this resource"},"422":{"description":"Client Error","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Billing.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"500":{"description":"Server Error"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Billing"]}},"/2026-01/transaction-fees":{"get":{"summary":"Get Transaction Fees\n","description":"This endpoint returns a list of transaction fees\n","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Billing.TransactionFeeModelV3"},"example":{"fee_list":["Shipping"]}}}},"401":{"description":"Authorization missing or invalid"},"403":{"description":"The provided credentials are not authorized to access this resource"},"500":{"description":"Server Error"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Billing"]}},"/2026-01/invoices/{invoiceId}/transactions":{"get":{"summary":"Get Transactions by Invoice ID\n","description":"The unique identifier of the invoice whose transactions are to be retrieved","parameters":[{"name":"invoiceId","in":"path","required":true,"description":"The unique identifier of the invoice whose transactions are to be retrieved.\n","schema":{"type":"string","format":"int32","additionalProperties":false}},{"name":"Cursor","in":"query","description":"[Optional] A pagination token used to jump to first, last, next or previous pages. When supplied, it overrides all other filter parameters.\n","schema":{"type":"string","additionalProperties":false}},{"name":"PageSize","in":"query","description":"Number of transactions to return per page (default is 100, to be entered when API is called for first time). Must be between 1 and 1000.\n","schema":{"type":"number","format":"int32","additionalProperties":false}},{"name":"SortOrder","in":"query","description":"Sort order of the results. Valid values: Ascending or Descending (default: Descending).\n","schema":{"type":"string","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Billing.TransactionDtoCursorPagedResponseV3"},"example":{"first":"f8cUk/xJkbeYp2L8oHqxL2hFiGz3qjre","items":[{"additional_details":{"comment":"TestInvoice"},"amount":0.09,"charge_date":"2025-01-01","currency_code":"USD","fulfillment_center":"Altona VIC","invoice_date":"2025-01-01","invoice_id":12345,"invoice_type":"Shipping","invoiced_status":true,"reference_id":"12345","reference_type":"Shipment","taxes":[{"tax_amount":0.01,"tax_rate":10,"tax_type":"GST"}],"transaction_fee":"Shipping","transaction_id":"01AN4Z07BY79KA1307SR9X4MV3","transaction_type":"Charge"}],"last":"f8cUk/xJkbeYp2L8oHqxL2hFiGz3qjqt","next":"f8cUk/xjhyEYp2L8oHqxL2hFiGz3qjqt","prev":"f8cUk/xJkbeYp2L8oHqxL2hFiGz3qjcc"}}}},"401":{"description":"Authorization missing or invalid"},"403":{"description":"The provided credentials are not authorized to access this resource"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Billing.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"500":{"description":"Server Error"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Billing"]}},"/2026-01/transactions:query":{"post":{"summary":"Search Transactions","description":"Search transactions with filters (date, invoice, fee type, etc.)","parameters":[{"name":"Cursor","in":"query","description":"[Optional] A pagination token used to jump to first, last, next or previous pages. When supplied, it overrides all other filter parameters.\n","schema":{"type":"string","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Billing.TransactionDtoCursorPagedResponseV3"},"example":{"first":"f8cUk/xJkbeYp2L8oHqxL2hFiGz3qjre","items":[{"additional_details":{"comment":"TestInvoice"},"amount":0.09,"charge_date":"2025-01-01","currency_code":"USD","fulfillment_center":"Altona VIC","invoice_date":"2025-01-01","invoice_id":12345,"invoice_type":"Shipping","invoiced_status":true,"reference_id":"12345","reference_type":"Shipment","taxes":[{"tax_amount":0.01,"tax_rate":10,"tax_type":"GST"}],"transaction_fee":"Shipping","transaction_id":"01AN4Z07BY79KA1307SR9X4MV3","transaction_type":"Charge"}],"last":"f8cUk/xJkbeYp2L8oHqxL2hFiGz3qjqt","next":"f8cUk/xjhyEYp2L8oHqxL2hFiGz3qjqt","prev":"f8cUk/xJkbeYp2L8oHqxL2hFiGz3qjcc"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Billing.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"401":{"description":"Authorization missing or invalid"},"403":{"description":"The provided credentials are not authorized to access this resource"},"500":{"description":"Server Error"}},"requestBody":{"x-name":"billing.TransactionRequestFilterV3","description":"Used to filter transactions based on search criteria. Required if cursor is not provided. Ignored when cursor is present (i.e., for paginated requests).","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Billing.TransactionRequestFilterV3"}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Billing"]}},"/2026-01/return/{id}:cancel":{"post":{"summary":"Cancel Return order\n","description":"Cancels a return order for given return ID.\n","parameters":[{"name":"id","in":"path","required":true,"description":"Id of the return order\n","schema":{"type":"string","format":"int32","additionalProperties":false}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Authorization missing or invalid"},"403":{"description":"The provided credentials are not authorized to access this resource"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Returns"]}},"/2026-01/return":{"get":{"summary":"Get Return Orders\n","description":"Retrieves a paginated list of return orders with optional filters for IDs, statuses, dates, and other criteria. Use this to track all returns across your ShipBob account.\n","parameters":[{"name":"Ids","in":"query","description":"The IDs of the returns to fetch. Accepts a comma-separated list of return IDs (e.g., 123,456,789).\n","schema":{"type":"string","additionalProperties":false}},{"name":"ReferenceIds","in":"query","description":"Comma-separated list of return reference IDs (RMA numbers) to filter by.\n","schema":{"type":"string","additionalProperties":false}},{"name":"Status","in":"query","description":"Comma-separated list of return statuses to filter by (e.g., AwaitingArrival, Arrived, Processing, Completed, Cancelled).\n","schema":{"type":"string","additionalProperties":false}},{"name":"FulfillmentCenterIds","in":"query","description":"Comma-separated list of fulfillment center IDs to filter by.\n","schema":{"type":"string","additionalProperties":false}},{"name":"TrackingNumbers","in":"query","description":"Comma-separated list of tracking numbers to filter by.\n","schema":{"type":"string","additionalProperties":false}},{"name":"OriginalShipmentIds","in":"query","description":"Comma-separated list of original shipment IDs to filter by.\n","schema":{"type":"string","additionalProperties":false}},{"name":"InventoryIds","in":"query","description":"Comma-separated list of inventory IDs to filter by.\n","schema":{"type":"string","additionalProperties":false}},{"name":"StartDate","in":"query","description":"Filter returns created on or after this date (ISO 8601 format).\n","schema":{"type":"string","format":"date-time","additionalProperties":false}},{"name":"EndDate","in":"query","description":"Filter returns created on or before this date (ISO 8601 format).\n","schema":{"type":"string","format":"date-time","additionalProperties":false}},{"name":"ReturnTypes","in":"query","description":"Comma-separated list of return types to filter by (e.g., Regular, ReturnToSender).\n","schema":{"type":"string","additionalProperties":false}},{"name":"ReturnActions","in":"query","description":"Comma-separated list of return actions to filter by (e.g., Restock, Quarantine, Dispose).\n","schema":{"type":"string","additionalProperties":false}},{"name":"StoreOrderIds","in":"query","description":"Comma-separated list of store order IDs to filter by.\n","schema":{"type":"string","additionalProperties":false}},{"name":"Sortby","in":"query","description":"Field to sort results by.\n","schema":{"type":"string","additionalProperties":false}},{"name":"CompletedStartDate","in":"query","description":"Filter returns completed on or after this date (ISO 8601 format).\n","schema":{"type":"string","format":"date-time","additionalProperties":false}},{"name":"CompletedEndDate","in":"query","description":"Filter returns completed on or before this date (ISO 8601 format).\n","schema":{"type":"string","format":"date-time","additionalProperties":false}},{"name":"Cursor","in":"query","description":"Page number to retrieve. Used for pagination through result sets.\n","schema":{"type":"number","format":"int32","maximum":2147483647.0,"minimum":1.0,"additionalProperties":false}},{"name":"Limit","in":"query","description":"Maximum number of records to return per page.\n","schema":{"type":"number","format":"int32","additionalProperties":false}},{"name":"SortOrder","in":"query","description":"Sort order for results. Desc = newest to oldest, Asc = oldest to newest, Desc is default\n","schema":{"type":"string","additionalProperties":false,"enum":["Asc","Desc"]}},{"name":"shipbob_channel_id","in":"header","description":"Channel Id for operation\n","schema":{"type":"string","format":"int32","additionalProperties":false}}],"responses":{"200":{"description":"OK","headers":{"Page-Number":{"description":"Current page number\n","schema":{"type":"object","format":"","additionalProperties":false}},"Total-Pages":{"description":"Total pages\n","schema":{"type":"object","format":"","additionalProperties":false}},"Total-Count":{"description":"Total records\n","schema":{"type":"object","format":"","additionalProperties":false}},"Page-Size":{"description":"Page size\n","schema":{"type":"object","format":"","additionalProperties":false}}},"content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Returns.PublicReturnDtoPagedUrlResultDto"},"example":{"first":"http://example.com","items":[{"arrived_date":"2019-08-24T14:15:22Z","awaiting_arrival_date":"2019-08-24T14:15:22Z","cancelled_date":"2019-08-24T14:15:22Z","channel":{"id":0,"name":"string"},"completed_date":"2019-08-24T14:15:22Z","customer_name":"string","fulfillment_center":{"id":0,"name":"string"},"id":0,"insert_date":"2019-08-24T14:15:22Z","inventory":[{"action_requested":{"action":"string","action_type":"string","instructions":"string"},"action_taken":[{"action":"string","action_reason":"string","image_url":"http://example.com","quantity_processed":0}],"barcodes":["string"],"id":0,"lot_information":{"expiration":"2019-08-24T14:15:22Z","minimumShelfLife":0,"number":"string"},"name":"string","quantity":0,"sku":"string"}],"invoice":{"amount":0.1,"currency_code":"string"},"original_shipment_id":0,"processing_date":"2019-08-24T14:15:22Z","reference_id":"string","return_type":"string","shipment_tracking_number":"string","status":"string","status_history":[{"status":"string","timestamp":"2019-08-24T14:15:22Z"}],"store_order_id":"string","tracking_number":"string","transactions":[{"amount":0.1,"transaction_type":"string"}]}],"last":"http://example.com","next":"http://example.com","prev":"http://example.com"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Returns.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"401":{"description":"Authorization missing or invalid"},"403":{"description":"The provided credentials are not authorized to access this resource"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Returns.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Returns"]},"post":{"summary":"Create Return Order\n","description":"Creates a new return order for a previously shipped order. Specify the original shipment, inventory items to return, and requested return actions.\n","parameters":[{"name":"shipbob_channel_id","in":"header","required":true,"description":"Channel Id for operation\n","schema":{"type":"string","format":"int32","additionalProperties":false}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Returns.PublicReturnV1Dto"},"example":{"channel":{"id":0,"name":"string"},"completed_date":"2019-08-24T14:15:22Z","customer_name":"string","fulfillment_center":{"id":0,"name":"string"},"id":0,"insert_date":"2019-08-24T14:15:22Z","inventory":[{"action_requested":{"action":"string","action_type":"string","instructions":"string"},"action_taken":[{"action":"string","action_reason":"string","image_url":"http://example.com","quantity_processed":0}],"id":0,"name":"string","quantity":0}],"invoice_amount":0.1,"original_shipment_id":0,"reference_id":"string","return_type":"string","status":"string","store_order_id":"string","tracking_number":"string","transactions":[{"amount":0.1,"transaction_type":"string"}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Returns.ProblemDetails"},"example":{"detail":"string","instance":"string","property1":null,"property2":null,"status":0,"title":"string","type":"string"}}}},"401":{"description":"Authorization missing or invalid"},"403":{"description":"The provided credentials are not authorized to access this resource"},"422":{"description":"Unprocessable Content","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Returns.ApiError"},"example":{"details":null,"errors":["string"],"message":"string","stackTrace":"string"}}}}},"requestBody":{"x-name":"returns.CreateReturnRequest","description":"The return order creation request containing return details, items, and configuration.","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Returns.CreateReturnRequest"}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Returns"]}},"/2026-01/location":{"get":{"summary":"Get Locations","description":"Retrieves physical locations across ShipBob's fulfillment network. An active location (`is_active=true`) is operational for fulfillment processes, including receiving inventory and processing returns. Access to locations varies: some are available to all merchants by default, while others require special approval. Use the `access_granted` parameter to determine if a location is available to the authenticated user, and `receiving_enabled` to confirm if the location accepts inventory.","parameters":[{"name":"IncludeInactive","in":"query","description":"Whether the inactive locations should be included or not\n","schema":{"type":"boolean","additionalProperties":false}},{"name":"ReceivingEnabled","in":"query","description":"Return all the receiving enabled locations\n","schema":{"type":"boolean","additionalProperties":false}},{"name":"AccessGranted","in":"query","description":"Return all the access granted locations\n","schema":{"type":"boolean","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Locations.Get.1.0.Location.OK.OneOfArray"},"example":[{"abbreviation":"string","access_granted":true,"attributes":["string"],"id":0,"is_active":true,"is_receiving_enabled":true,"is_shipping_enabled":true,"name":"string","region":{"id":0,"name":"string"},"services":[{"address":{"address1":"string","address2":"string","city":"string","country":"string","email":"string","name":"string","phone_number":"string","state":"string","zip_code":"string"},"enabled":true,"service_type":"Receiving"}],"timezone":"string"}]}}},"401":{"description":"Authorization missing or invalid"},"403":{"description":"The provided credentials are not authorized to access this resource"}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Locations"]}},"/2026-01/shipping-method":{"get":{"summary":"Get Shipping Methods","description":"Retrieves all available shipping methods configured for your merchant account.","parameters":[{"name":"Page","in":"query","description":"Page of orders to get","schema":{"type":"number","format":"int32","maximum":2147483647.0,"minimum":0.0,"additionalProperties":false}},{"name":"Limit","in":"query","description":"Amount of records per page to request","schema":{"type":"number","format":"int32","maximum":250.0,"minimum":1.0,"additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Orders.ShipMethodDetailViewModelArray"},"example":[{"active":true,"default":true,"id":0,"name":"string","service_level":{"id":0,"name":"string"}}]}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Orders.Get.Api.Shippingmethod.Bad.Request.Object"},"example":{"property1":["string"],"property2":["string"]}}}},"401":{"description":"No access right at this time"},"403":{"description":"No access"},"422":{"description":"Client Error","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Orders.Get.Api.Shippingmethod.Unprocessable.Entity.Object"},"example":{"property1":["string"],"property2":["string"]}}}}},"security":[{"PAT":[]},{"OAuth2":[]}],"tags":["Orders"]}},"/2026-01/shipment/{shipmentId}":{"get":{"summary":"Get Shipment","description":"Retrieves detailed information about a specific shipment by shipment ID, including shipment status, tracking information, fulfillment center location, and contained products.","parameters":[{"name":"shipmentId","in":"path","required":true,"description":"The shipment id to get","schema":{"type":"string","format":"int32","additionalProperties":false}},{"name":"shipbob_channel_id","in":"header","description":"Channel Id for Operation","schema":{"type":"string","format":"int32","additionalProperties":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"additionalProperties":false,"$ref":"#/components/schemas/Orders.ShipmentViewModel"},"example":{"actual_fulfillment_date":"2019-08-24T14:15:22Z","created_date":"2019-08-24T14:15:22Z","delivery_date":"2019-08-24T14:15:22Z","estimated_fulfillment_date":"2019-08-24T14:15:22Z","estimated_fulfillment_date_status":"AwaitingInventoryAllocation","gift_message":"string","id":0,"insurance_value":0,"invoice_amount":0,"invoice_currency
[...]
